body {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 50, 80);
    padding: 12px 120px;
    margin: 0;
}

.headerlogo {
    font-weight: bold;
    font-size: 12px;
    display: flex;
    color: white;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: gray;
    padding-left:12px;
}

.banner {
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 50, 80);
    align-items: center;
    padding: 12px 120px;
    padding-bottom: 24px;
    margin: 0;
    flex-grow: 1;
}

.banner1 {
    display: flex;
    flex-direction: column;
    width: 280px;
    justify-content: center;
}

.b1title {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-wrap: wrap;
}

.b1body {
    font-size: small;
    text-wrap: wrap;
    color: grey;
}

.button1 {
    width: 72px;
    margin-top: 12px;
    background-color: rgb(61, 130, 233);
    border-radius: 4px;
    border: none;
    color: white;
    padding: 2px;
}

.banner2 {
    display: flex;
    width:280px;
    height: 120px;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: white;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    flex-grow: 1;
}

.randomtitle {
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
}

.randomselects {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 20px;
}

.randomboxtext {
    display: flex;
    flex-direction: column;
}

.randombox {
    display: flex;
    border:rgb(0, 102, 255);
    border-style: solid;
    border-width: 2px;
    width: 120px;
    height: 120px;
    border-radius: 4px;
}

.randomtext {
    font-size: 12px;
    text-wrap: wrap;
    width: 120px;
    text-align: center;
    margin-bottom: 24px;
}

.quotesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    flex-grow: 2;
    padding: 24px;
}

.quotebox {
    max-width: 1580px;
    margin: auto;
}

.quotetext {
    font-size: 18px;
    padding-top: 48px;
    font-style: italic;
    font-weight: lighter;
    padding: 0px 100px;
    align-items: center;
}

.quoted {
    font-weight: bold;
    align-items: center;
    text-align: right;
    padding: 0px 100px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.callbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px;
    background-color: rgb(61, 130, 233);
    border-radius: 4px;
    padding: 24px;
    width: 420px;
    flex-grow: 0;
}

.callL {
    display: flex;
    flex-direction: column;
}

.call {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.signup {
    font-size: 10px;
    color: white;
}

.button2 {
    width: 72px;
    background-color: rgb(61, 130, 233);
    border-radius: 4px;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 12px;
    color: lightgray;
    padding: 24px;
    background-color: rgb(44, 50, 80);
}